@media screen and (max-width: 600px) {
    .col.mobile {
        display: none;
    }
}

.col.button button {
    padding: 2px;
}

.col.button button:hover {
    background-color: gray;
    color: #fff;
}